.video-container {
  position: relative;
  width: 100%;
  height: fit-content;
  max-height: 65%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 224, 240);
  pointer-events: none;
  opacity: 1;
  transition: background-color 2s ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  max-width: 100%;
}

body {
  font-family: "Pacifico", sans-serif;
  background-color: #ffe0f0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  text-align: center;
  overflow-y: scroll;
}

/* quote explain */

.container {
  flex-direction: row;
  display: flex;
  width: calc(100% - 20px);
  height: 95%;
  max-height: 95%;
  background-color: #d69ade;
  border-radius: 25px;
  justify-items: center;
  margin: 10px;
  align-self: center;
  transition: all 0.25s ease;
}

.explain-container,
.image-container {
  margin: 15px;
  border-radius: 25px;
  transition: all 0.25s ease;
}

.explain-container {
  background-color: #aa60c8;
  justify-items: left;
  font-size: calc(0.35rem + 1vw);
  width: 75%;
  height: calc(100% - 15 * 2px);
}

.explain-container h1,
h2,
p {
  color: white;
  margin: 20px;
  transition: all 0.25s ease;
}

.cards-constellation {
  width: 90%;
  height: calc(100% * 100vw / 3);
  margin-left: calc(5% + 5px);
  border-radius: 5%;
  transition: all 0.25s ease;
}

.scroll-view {
  scrollbar-width: none;
  height: calc(100% - 135px);
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
}

.chat-container-shaman,
.chat-container-user {
  margin-top: 5px;
  margin-bottom: 5px;
}

.chat-container-shaman {
  width: 75%;
  height: fit-content;
  flex-direction: row;
  display: flex;
  transition: all 0.25s ease;
}

.chat-container-user {
  width: 75%;
  margin-left: 25%;
  height: fit-content;
  flex-direction: row;
  display: flex;
  transition: all 0.25s ease;
}

.chat-quote {
  margin: auto;
  justify-self: center;
  margin-top: 5px;
  width: 90%;
  height: fit-content;
  background-color: #d69ade;
  border-radius: 25px;
}

.chat-quote button {
  font-family: "Pacifico", sans-serif;
  font-size: calc(0.35rem + 1vw);
  width: 96%;
  height: 7vh;
  margin: 2%;
  border-radius: 20px;
  border-width: 0;
  background-color: #ffe3f2;
  transition: all 0.75s ease;
}

.chat-quote button:hover {
  background-color: #ffa8d5;
}

.avatar-container {
  align-self: flex-end;
  margin: 15px;
  margin-bottom: 5px;
  background-color: #d69ade;
  height: 5vw;
  width: 5vw;
  border-radius: 100%;
  transition: all 0.25s ease;
}

.avatar {
  margin: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  transition: all 0.25s ease;
}

.chat-text-container {
  background-color: #d69ade;
  align-self: flex-end;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 25px;
  width: calc(100% - (95px + 15px * 2));
  height: fit-content;
  transition: all 0.25s ease;
}

.text {
  color: #fff;
  text-align: left;
  text-justify: center;
  margin: 3.5%;
  transition: all 0.25s ease;
}

.image-container {
  justify-content: center;
  align-content: center;
  width: 25%;
  transition: all 0.25s ease;
}

.cards-constellation {
  border-radius: 25px;
  transition: all 0.25s ease;
}

.header {
  color: #aa60c8;
  font-size: calc(1.5rem + 1vw);
  justify-self: center;
  margin: 30px;
  transition: all 0.25s ease;
  height: auto;
  width: auto;
}

/* quote explain */

.choice {
  width: 90%;
  height: fit-content;
}

.cards-shown-button {
  background-color: #aa60c8;
  width: fit-content;
  height: fit-content;
  align-self: center;
  justify-self: center;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Pacifico", serif;
  font-size: 150%;
  transition: all 0.5s ease;
}

.cards-container {
  opacity: 0;
  pointer-events: none;
  transition: all 0.75s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  top: 0; /* Thêm dòng này để cố định trên cùng */
  left: 0;
  right: 0;
  bottom: 0; /* Thay height: 100% bằng top + bottom */
  background-color: #00000081;
}

.cards-button {
  perspective: 1000px;
  pointer-events: none;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.5s ease;
  background: none;
  border: none;
  justify-content: center;
  width: 90vw;
  height: fit-content;
  transition: all 0.5s ease;
  border-radius: 5%;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.75s;
  border-radius: 10%;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  border-radius: 5%;
}

.cards-button.flipped .card-inner {
  transform: rotateY(-180deg);
}

.card-back {
  font-size: 16px;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-image {
  width: 90%;
  height: calc(100% * 100vw / 3);
  transition: all 0.75s ease;
  border-radius: 5%;
}

.image {
  width: 100%;
  height: 100%;
  background-color: black;
  object-fit: cover;
  border-radius: 10px;
}

/* Responsive Styles */

@media (max-width: 600px) {
  body {
    height: 100%;
  }

  .header {
    font-size: 1.8rem;
  }

  .cards-shown-button {
    font-size: 1rem;
    padding: 12px 24px;
  }

  .container {
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 90%;
    margin: 5px;
  }

  .image-container {
    width: 90%;
    height: 25%;
  }

  .cards-constellation {
    width: 30%;
    height: calc(100% * 100vw / 3);
    align-self: center;
    justify-self: center;
    border-radius: 5%;
    margin-top: 5px;
    margin-left: 0px;
  }

  .chat-quote {
    justify-self: center;
    margin-top: 5px;
    width: 90%;
    height: fit-content;
    background-color: #d69ade;
    border-radius: 25px;
  }

  .explain-container {
    width: 90%;
    height: calc(100% - 25% - 15px * 4);
  }

  .chat-container {
    width: 100%;
  }

  .chat-text-container {
    margin: 10px;
    width: 75%;
  }
}

.cards-image:hover {
  transform: translateY(-10px);
}

.cards-shown-button:hover {
  background-color: #714283;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
